html {
	/*background-color: #FCFCFF;*/
	background-color: black;
	background-image: url('backgrounds/homebackground.jpg');
	background-repeat: repeat;
    background-size: cover;
	color: white;
}
