@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
	/*background-color: #FCFCFF;*/
	/*background-color: #081c34;*/
	/*background-image: url('rickroll.gif');*/
	background-color: #f1fbfd;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #1b1b1b;
}

body {
	animation: body 1s ease 200ms backwards;
 user-select: none;
 -webkit-user-select: none; /*Safari*/
 -moz-user-select: none; /*Firefox*/
}

@keyframes body {
	from {
	 opacity: 0;
	 transform: translateY(-100px);
	}
	to {
	 opacity: 1;
	 transform: translate(0px);
	}
   }

.navButton {
	height: 60px;
	width: 200px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	background-color: #1891ac;
	color: white;
	border-radius: 60px;
	border: none;
}

.navButtonInactive {
	height: 60px;
	width: 200px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	background-color: #96AFB8;
	color: grey;
	border-radius: 60px;
	border: none;
	color: black;
}

.offerBox {
	border-radius: 25px;
	background: #006ee6;
	padding: 10px;
	width: 300px;
color: white;
}

.offerBoxExpired {
	border-radius: 25px;
	background: red;
	padding: 10px;
	width: 300px;
color: white;
}

.offerHeadings {
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

.offerBody {
	font-size: 20px;
}

.offerExpiry {
	font-size: 10px;
	font-style: italic;
}

.offerDate {
	font-size: 14px;
	text-align: left;
}

.termsconditions {
	background-color: #FCFCFF;
	color: black;
	font-family: 'Courier Prime', monospace;
	border-radius: 35px;
	width: 350px;
	border: 0.5px solid #303034;
}

#infoText {
	font-family: 'Courier Prime', monospace;
}

#homeheading {
	font-size: 40px;
	animation: pulse 15s infinite;
}

#homeheadingsmall {
	font-size: 30px;
	animation: pulse 15s infinite;
}

#p11 {
	font-size: 40px;
	color: #0F9D58;
}

#p12 {
	font-size: 40px;
	color: #4285F4;
}

#para {
	font-size: 20px;
	text-align: left;
}

#paraheadings {
	font-size: 40px;
	text-decoration: underline;
	font-weight: bold;
}

#smallpara {
	font-size: 10px;
	text-align: center;
}

#rightalign {
	text-align: right;
}

.wrapper {
	display: grid;
 	grid-template-columns: 400px 400px;
	justify-content: center;
}

#rickroll {
	font-size: 40px;
	text-decoration: underline;
	animation: pulse 15s infinite;
}

/*THE PULSING HOMESCREEN*/

@keyframes pulse {
  0% {
	/*color: #FF4F4B;*/
	color: #FF0000;
  } /* Red */
  
  25% {
	/*color: #a0d2eb;*/
	color: #22229a;
  } /* Blue */
  
  50% {
	/*color: #90EE90;*/
	color: #228B22
  } /* Green */
  
  75% {
	/*color: #808080;*/
	color: #dde0fe;
  } /* White */
  
  100% {
	/*color: #494d5f;*/
	color: darkorange;
  } /* Black */
}

#nextButtonRoomkey {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	background-color: #1891ac;
	color: white;
	border-radius: 16px;
	border: none;
}

#nextButtonRoomkey:hover {
	background-color: #05B5BD; /* lightblue */
	color: white;
}

#nextButtonRoomkey2 {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	background-color: #1891ac;
	color: white;
	border-radius: 16px;
	border: none;
}

#nextButtonRoomkey2:hover {
	background-color: #05B5BD; /* lightblue */
	color: white;
}

.inputBox {
	border-radius: 16px;
	background-color: white;
	border: none;
	color: black;
	height: 30px;
	width: 100px;
	font-family: 'Outfit', sans-serif;
	text-align: center;
	font-size: 15px;
}

#nfccheck {
	display: block;
}

#roomunlock {
	display: none;
}

.roundedImage {
	border-radius: 25px;
	border: 0.5px solid #303034;
}

#exitButton {
	display: none;
}

/*NEWEST ADDED CSS*/

.translucentBox {
	/*background: #006ee6;*/
	/*background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
	padding: 10px;
	width: 350px;
	/*backdrop-filter: blur(14px);*/
	/*color: black;*/
	background-color: #d3e5ef;
	margin-left: auto;
	margin-right: auto;
}

.translucentInfoBox {
	border-radius: 25px;
	/*background: #006ee6;*/
	/*background-color: rgba(255, 255, 255, 0.2);*/
	/*box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
	padding: 10px;
	width: 300px;
	/*backdrop-filter: blur(14px);*/
	text-align: center;
	/*color: black;*/
	background-color: #d3e5ef;
}

.translucentAboutBox {
	border-radius: 25px;
	/*background: #006ee6;*/
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
	padding: 10px;
	width: 300px;
	backdrop-filter: blur(14px);
	text-align: left;
	/*color: black;*/
}

/*The radius' of the new joins*/

.joinTop {
	border-radius: 25px 25px 6px 6px;
	margin-bottom: 5px;
}

.joinMiddle {
	border-radius: 6px;
	margin-bottom: 5px;
}

.joinBottom {
	border-radius: 6px 6px 25px 25px;
}

.full {
	border-radius: 25px;
}


.whitesmallpara {
	font-size: 10px;
	color: #1b1b1b;
}

#usernameBox {
	border-radius: 600px;
	background-color: white;
	border: 0.5px solid #303034;
	color: black;
	height: 60px;
	width: 300px;
	font-family: 'Outfit', sans-serif;
	text-align: center;
	font-size: 15px;
}

#passwordBox {
	border-radius: 600px;
	background-color: white;
	border: 0.5px solid #303034;
	color: black;
	height: 60px;
	width: 300px;
	font-family: 'Courier Prime', monospace;
	text-align: center;
	font-size: 15px;
}

.loginText {
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Ubuntu', sans-serif;
}

/*login button*/

#loginButton {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	background-color: #1891AC;
	color: white;
	border-radius: 16px;
	border: none;
	transition: 0.25s;
}

/*codeBox*/

#codeBox {
	border-radius: 600px;
	background-color: white;
	border: 0.5px solid #303034;
	color: black;
	height: 60px;
	width: 100px;
	font-family: 'Courier Prime', monospace;
	text-align: center;
	font-size: 25px;
}


/*NEW HEADINGS FROM JULY 2022*/

.blue-h2, .blue-h3 {
	color: #1891ac;
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
	font-weight: 100;
	text-align: left;
}

/*NEW HEADINGS FROM DECEMBER 2022*/
.gradientHeading {
	/*background-image: linear-gradient(to right, #1891ac, #1d3e79);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;*/
 color: #1891ac;
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.gradientHeadingSmall {
	/*background-image: linear-gradient(to right, #1891ac, #1d3e79);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;*/
        color: #1891ac;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
}

.brand {
	width: 300px;
}

.button {
	width: 350px;
	height: 110px;
	background-color: white;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	font-size: 35px;
	transition: 0.5s;
}

.button:hover {
	background-color: #96AFB8;
}

.button img {
	width: 50px;
	float: right;
}

.left {
	text-align: left;
}

.container {
	margin: 0 auto;
	width: 350px;
	padding: 0px;
}

.material-symbols-rounded {
	font-size: 30px !important;
}

/*!!!---DARK MODE THEMING---!!!*/

@media (prefers-color-scheme: dark) {
	html {
		background-color: #212829;
    	color: #FCFCFF;
	}

  	#smallpara {
		font-size: 10px;
		color: #FCFCFF;
	}

	.whitesmallpara {
		font-size: 10px;
		color: #fcfcff;
	}

	.blue-h2, .blue-h3 {
		font-family: 'Ubuntu', sans-serif;
		font-size: 45px;
		color: #EAFDFF;
		font-weight: 100;
		text-align: left;
	}

	.translucentBox {
		/*background: #006ee6;*/
		/*background-color: rgba(255, 255, 255, 0.2);
		box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
		padding: 10px;
		width: 350px;
		/*backdrop-filter: blur(14px);*/
		/*color: black;*/
		background-color: #293840;
		margin-left: auto;
		margin-right: auto;
	}

	.translucentInfoBox {
		border-radius: 25px;
		/*background: #006ee6;*/
		/*background-color: rgba(255, 255, 255, 0.2);*/
		/*box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
		padding: 10px;
		width: 300px;
		/*backdrop-filter: blur(14px);*/
		text-align: center;
		/*color: black;*/
		background-color: #303034;
	}

	.button {
		color: white;
		background-color: #354A54;
	}

	.button:hover {
		background-color: #5A6B74; }

 .gradientHeading, .gradientHeadingSmall {
  color: #EAFDFF; }


}
