@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

html {
	/*background-color: #FCFCFF;*/
	/*background-color: #081c34;*/
	/*background-image: url('rickroll.gif');*/
	background-color: #f3f0f3;
	font-family: 'Outfit', sans-serif;
	color: #e8e7ec;
}

.navButton {
	height: 60px;
	width: 200px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 20px;
	background-color: #187bdc;
	color: white;
	border-radius: 60px;
	border: none;
}

.navButtonInactive {
	height: 60px;
	width: 200px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 20px;
	background-color: #8791a5;
	color: grey;
	border-radius: 60px;
	border: none;
	color: black;
}

.offerBox {
	border-radius: 25px;
	background: #006ee6;
	padding: 10px;
	width: 300px;
color: white;
}

.offerBoxExpired {
	border-radius: 25px;
	background: red;
	padding: 10px;
	width: 300px;
color: white;
}

.offerHeadings {
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

.offerBody {
	font-size: 20px;
}

.offerExpiry {
	font-size: 10px;
	font-style: italic;
}

.offerDate {
	font-size: 14px;
	text-align: left;
}

.termsconditions {
	background-color: #FCFCFF;
	color: black;
	font-family: 'Courier Prime', monospace;
	border-radius: 35px;
	width: 300px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1b1b1b;
    color: #FCFCFF;
  }
}

#infoText {
	font-family: 'Courier Prime', monospace;
}

#homeheading {
	font-size: 40px;
	animation: pulse 15s infinite;
}

#homeheadingsmall {
	font-size: 30px;
	animation: pulse 15s infinite;
}

#p11 {
	font-size: 40px;
	color: #0F9D58;
}

#p12 {
	font-size: 40px;
	color: #4285F4;
}

#para {
	font-size: 20px;
}

#paraheadings {
	font-size: 40px;
	text-decoration: underline;
	font-weight: bold;
}

#smallpara {
	font-size: 10px;
}

#rightalign {
	text-align: right;
}

.wrapper {
	display: grid;
 	grid-template-columns: 400px 400px;
	justify-content: center;
}

#rickroll {
	font-size: 40px;
	text-decoration: underline;
	animation: pulse 15s infinite;
}

/*THE PULSING HOMESCREEN*/

@keyframes pulse {
  0% {
	/*color: #FF4F4B;*/
	color: #FF0000;
  } /* Red */
  
  25% {
	/*color: #a0d2eb;*/
	color: #22229a;
  } /* Blue */
  
  50% {
	/*color: #90EE90;*/
	color: #228B22
  } /* Green */
  
  75% {
	/*color: #808080;*/
	color: #dde0fe;
  } /* White */
  
  100% {
	/*color: #494d5f;*/
	color: darkorange;
  } /* Black */
}

#nextButtonRoomkey {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 15px;
	background-color: #26abff;
	color: white;
	border-radius: 16px;
	border: none;
}

#nextButtonRoomkey:hover {
	background-color: #68c6ff; /* lightblue */
	color: white;
}

#nextButtonRoomkey2 {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 15px;
	background-color: #26abff;
	color: white;
	border-radius: 16px;
	border: none;
}

#nextButtonRoomkey2:hover {
	background-color: #68c6ff; /* lightblue */
	color: white;
}

.inputBox {
	border-radius: 16px;
	background-color: white;
	border: none;
	color: black;
	height: 30px;
	width: 100px;
	font-family: 'Outfit', sans-serif;
	text-align: center;
	font-size: 15px;
}

#nfccheck {
	display: block;
}

#roomunlock {
	display: none;
}

.roundedImage {
	border-radius: 25px;
}

#exitButton {
	display: none;
}

/*NEWEST ADDED CSS*/

.translucentBox {
	border-radius: 25px;
	/*background: #006ee6;*/
	/*background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
	padding: 10px;
	width: 350px;
	/*backdrop-filter: blur(14px);*/
	text-align: center;
	/*color: black;*/
	background-color: #303034;
}

.translucentInfoBox {
	border-radius: 25px;
	/*background: #006ee6;*/
	/*background-color: rgba(255, 255, 255, 0.2);*/
	/*box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
	padding: 10px;
	width: 300px;
	/*backdrop-filter: blur(14px);*/
	text-align: center;
	/*color: black;*/
	background-color: #303034;
}

.translucentAboutBox {
	border-radius: 25px;
	/*background: #006ee6;*/
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
	padding: 10px;
	width: 300px;
	backdrop-filter: blur(14px);
	text-align: left;
	/*color: black;*/
}


.whitesmallpara {
	font-size: 10px;
	color: white;
}

#usernameBox {
	border-radius: 16px;
	background-color: white;
	border: none;
	color: black;
	height: 60px;
	width: 300px;
	font-family: 'Outfit', sans-serif;
	text-align: center;
	font-size: 15px;
}

#passwordBox {
	border-radius: 16px;
	background-color: white;
	border: none;
	color: black;
	height: 60px;
	width: 300px;
	font-family: 'Courier Prime', monospace;
	text-align: center;
	font-size: 15px;
}

.loginText {
	font-size: 20px;
	text-decoration: underline;
	font-weight: 900;
}

/*login button*/

#loginButton {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 15px;
	background-color: #0504b7;
	color: white;
	border-radius: 16px;
	border: none;
	transition: 0.25s;
}

/*codeBox*/

#codeBox {
	border-radius: 16px;
	background-color: white;
	border: none;
	color: black;
	height: 60px;
	width: 100px;
	font-family: 'Courier Prime', monospace;
	text-align: center;
	font-size: 25px;
}


/*NEW HEADINGS FROM JULY 2022*/

.blue-h2 {
	color: #dde0fe;
	font-family: 'Space Grotesk', sans-serif;
}

.blue-h3 {
	color: #dde0fe;
	font-family: 'Space Grotesk', sans-serif;
}

/*NEW HEADINGS FROM DECEMBER 2022*/
.gradientHeading {
	background-image: linear-gradient(to right, #512bd4, #d600aa);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 40px;
}

.gradientHeadingSmall {
	background-image: linear-gradient(to right, #512bd4, #d600aa);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 30px;
}
