@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
	/*background-color: #FCFCFF;*/
	/*background-color: #081c34;*/
	/*background-image: url('rickroll.gif');*/
	background-color: #f1fbfd;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: #1b1b1b;
}

body {
	/*animation: body 1s ease 200ms backwards;*/
 	user-select: none;
 	-webkit-user-select: none; /*Safari*/
 	-moz-user-select: none; /*Firefox*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*@keyframes body {
	from {
	 opacity: 0;
	 transform: translateY(-100px);
	}
	to {
	 opacity: 1;
	 transform: translate(0px);
	}
   }*/

/*MAIN NAVIGATION BUTTONS*/

.navButton, .navButtonInactive {
	height: 60px;
	width: 200px;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	border-radius: 60px;
	border: none;
}

.navButton {
	background-color: #1891ac;
	color: white;
}

.navButtonInactive {
	background-color: #96AFB8;
	color: black;
}

/*OFFER BOXES*/

.offerBox, .offerBoxExpired {
	border-radius: 25px;
	padding: 10px;
	width: 300px;
	color: white;
}

.offerBox {
	background: #006ee6;
}

.offerBoxExpired {
	background: red;
}

.offerHeadings {
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

.offerBody {
	font-size: 20px;
}

.offerExpiry {
	font-size: 10px;
	font-style: italic;
}

.offerDate {
	font-size: 14px;
	text-align: left;
}

.termsconditions, #infoText {
	font-family: 'Courier Prime', monospace;
}

.termsconditions {
	background-color: #FCFCFF;
	color: black;
	border-radius: 35px;
	width: 350px;
	border: 0.5px solid #303034;
}

#homeheading, #homeheadingsmall, #rickroll {
	animation: pulse 15s infinite;
}

#homeheading {
	font-size: 40px;
}

#homeheadingsmall {
	font-size: 30px;
}

#p11, #p12, #paraheadings, #rickroll {
	font-size: 40px;
}

#p11 {
	color: #0F9D58;
}

#p12 {
	color: #4285F4;
}

#para {
	font-size: 20px;
	text-align: left;
}

#paraheadings {
	text-decoration: underline;
	font-weight: bold;
}

#smallpara {
	font-size: 10px;
	text-align: center;
}

#rightalign {
	text-align: right;
}

.wrapper {
	display: grid;
 	grid-template-columns: 400px 400px;
	justify-content: center;
}

#rickroll {
	text-decoration: underline;
}

/*THE PULSING HOMESCREEN*/

@keyframes pulse {
  0% {
	/*color: #FF4F4B;*/
	color: #FF0000;
  } /* Red */
  
  25% {
	/*color: #a0d2eb;*/
	color: #22229a;
  } /* Blue */
  
  50% {
	/*color: #90EE90;*/
	color: #228B22
  } /* Green */
  
  75% {
	/*color: #808080;*/
	color: #dde0fe;
  } /* White */
  
  100% {
	/*color: #494d5f;*/
	color: darkorange;
  } /* Black */
}

#nextButtonRoomkey, #nextButtonRoomkey2, #loginButton {
	/*float: right;*/
	height:30px;
	width:100px;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	background-color: #1891ac;
	color: white;
	border-radius: 16px;
	border: none;
}

#nextButtonRoomkey:hover, #nextButtonRoomkey2:hover {
	background-color: #05B5BD; /* lightblue */
	color: white;
}

.inputBox {
	border-radius: 16px;
	background-color: white;
	border: none;
	color: black;
	height: 30px;
	width: 100px;
	font-family: 'Outfit', sans-serif;
	text-align: center;
	font-size: 15px;
}

#nfccheck {
	display: block;
}

#roomunlock, #exitButton {
	display: none;
}

.roundedImage {
	border-radius: 25px;
	border: 0.5px solid #303034;
}

/*NEWEST ADDED CSS*/

.translucentBox {
	padding: 10px;
	max-width: 350px;
	min-width: 300px;
	background-color: #d3e5ef;
	margin-left: auto;
	margin-right: auto;
}

.translucentInfoBox {
	border-radius: 25px;
	padding: 10px;
	max-width: 300px;
	min-width: 250px;
	text-align: center;
	background-color: #d3e5ef;
}

.translucentAboutBox {
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
	padding: 10px;
	max-width: 300px;
	min-width: 25px;
	backdrop-filter: blur(14px);
	text-align: left;
}

/*The radius' of the new joins*/

.joinTop {
	border-radius: 25px 25px 6px 6px;
	margin-bottom: 5px;
}

.joinMiddle {
	border-radius: 6px;
	margin-bottom: 5px;
}

.joinBottom {
	border-radius: 6px 6px 25px 25px;
}

.full {
	border-radius: 25px;
}


.whitesmallpara {
	font-size: 10px;
	color: #1b1b1b;
}

#usernameBox, #passwordBox, #codeBox {
	border-radius: 600px;
	background-color: white;
	border: 0.5px solid #303034;
	color: black;
	height: 60px;
	text-align: center;
}

#usernameBox, #passwordBox {
	max-width: 300px;
	min-width: 250px;
	font-size: 15px;
}

#codeBox {
	width: 100px;
	font-size: 25px;
}

#usernameBox {
	font-family: 'Outfit', sans-serif;
}

#passwordBox, #codeBox {
	font-family: 'Courier Prime', monospace;
}

.loginText {
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Rubik', sans-serif;
}

/*NEW HEADINGS FROM JULY 2022*/

.blue-h2, .blue-h3 {
	color: #1891ac;
	font-family: 'Rubik', sans-serif;
	font-size: 45px;
	font-weight: 100;
	text-align: left;
}

/*NEW HEADINGS FROM DECEMBER 2022*/
.gradientHeading, .gradientHeadingSmall {
	color: #1891ac;
	font-family: 'Rubik', sans-serif;
}

.gradientHeading {
	font-size: 40px;
	font-weight: 700;
}

.gradientHeadingSmall {
	font-size: 30px;
}

.brand {
	width: 300px;
}

.button {
	max-width: 350px;
	min-width: 300px;
	height: 110px;
	background-color: white;
	color: black;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	transition: 0.5s;
}

.button:hover {
	background-color: #96AFB8;
}

.button img {
	width: 50px;
	float: right;
}

.left {
	text-align: left;
}

.container {
	margin: 0 auto;
	max-width: 350px;
	min-width: 300px;
	padding: 0px;
}

.material-symbols-rounded {
	font-size: 30px !important;
}

/*Feedback Buttons*/
.leftButton, .rightButton {
	width: 150px;
}

.leftButton {
	border-radius: 60px 10px 10px 60px;
	margin: 3px;
}

.rightButton {
	border-radius: 10px 60px 60px 10px;
}

/*help center icons css*/
.helpcenterIcons {
	font-size: 25px !important;
	line-height: inherit;
	vertical-align: middle;
}

/*!!!---DARK MODE THEMING---!!!*/

@media (prefers-color-scheme: dark) {
	html {
		background-color: #131314;
    	color: #FCFCFF;
	}

	#smallpara, .whitesmallpara {
		color: #FCFCFF;
	}

	.blue-h2, .blue-h3 {
		color: #EAFDFF;
	}

	.translucentBox {
		background-color: #293840;
	}

	.translucentInfoBox {
		background-color: #303034;
	}

	.button {
		color: white;
		background-color: #354A54;
	}

	.button:hover {
		background-color: #5A6B74; }

 	.gradientHeading, .gradientHeadingSmall {
		color: #EAFDFF; 
	}
}