#himessage {
    display: block;
}

#hicall {
    display: none;
}

#hicontacts {
    display: none;
}

#newContainer {
    display: none;
}

/* Chat containers */
.container {
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  color: black;
  text-align: left;
}

/* nav container */
.navContainer {
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 200px;
  color: black;
  text-align: left;
}

/* Darker chat container */
.darker {
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.profile {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  clip-path: circle();
}

/* Style the right image */
.profile.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.messageBox {
	border-radius: 16px 5px 5px 16px;
	background-color: white;
	border: none;
	color: black;
	height: 30px;
	width: 200px;
	font-family: 'Prompt', sans-serif;
	text-align: center;
	font-size: 15px;
}

#sendWrapper img {
    vertical-align: middle !important;
}

.delete {
    text-align: left;
    width: 30px;
}

#himessageActive {
    display: block;
}

#hicallActive {
    display: none;
}

#hicontactsActive {
    display: none;
}

#showNav {
    display: block;
    user-select: none;
}

#hideNav {
    display: none;
    user-select: none;
}

#navigation {
    display: none;
}

#phoning {
    display: none;
    text-align: center;
}

.infoDiv {
	/*background: #006ee6;*/
	/*background-color: rgba(255, 255, 255, 0.2);*/
	/*box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
	padding: 10px;
	width: 300px;
	/*backdrop-filter: blur(14px);*/
	text-align: center;
	/*color: black;*/
	background-color: #CAC8D1;
}

.contactBox {
	/*background: #006ee6;*/
	/*background-color: rgba(255, 255, 255, 0.2);*/
	/*box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
	padding: 10px;
	width: 260px;
	/*backdrop-filter: blur(14px);*/
	text-align: left;
	/*color: black;*/
	background-color: #AAAABC;
    color: black;
}

.contact {
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    clip-path: circle();
}

.codeBox {
	border-radius: 16px 5px 5px 16px;
	background-color: white;
	border: none;
	color: black;
	height: 30px;
	width: 200px;
	font-family: 'Courier Prime', monospace;
	text-align: center;
	font-size: 25px;
}

.diallerSubmit {
    border-radius: 7px 30px 30px 7px;
    margin-left: 5px;
    width: 55px;
    height: 31.5px;
    font-size: 31px;
    border: none;
    background-color: #1891ac;
    color: white;
    transition: 1s;
    line-height: 5px !important;
}

.textSubmit {
    font-size: 16px;
}

.diallerSubmit:hover {
    background-color: #96AFB8;
    color: black
}

.heading {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.thcContact {
    font-size: 15px;
}

.contactLabel {
    font-weight: bold;
    font-size: 20px;
}

.contactData {
    font-size: 20px;
}

#contactInfo {
    display: none;
}

.betaAlert {
    color: red;
}

@media(prefers-color-scheme:dark) {
    .infoDiv {
        background-color: #545459;
    }
}

/*nav buttons*/
.leftNavButton {
	width: 90px;
	border-radius: 60px 10px 10px 60px;
	margin: 3px;
}

.middleNavButton {
    width: 90px;
    border-radius: 5px;
    margin-right: 3px;
}

.rightNavButton {
	width: 90px;
	border-radius: 10px 60px 60px 10px;
}

.headingContainer {
    margin: 0 auto;
    width: 350px;
    padding: 0px;
}

.titleIcon {
    font-size: inherit !important;
	line-height: inherit;
	vertical-align: middle;
}