/*STYLES, FONTS, AND COLOURS*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*Variables*/
:root {
	/*OLD Colours*/
	--primary: #0061a6;
	--onPrimary: #ffffff;
	--primaryContainer: #d2e4ff;
	--onPrimaryContainer: #001c37;
	--secondary: #535f70;
	--onSecondary: #ffffff;
	--secondaryContainer: #d7e3f8;
	--onSecondaryContainer: #101c2b;
	--tertiary: #6c5778;
	--onTertiary: #ffffff;
	--tertiaryContainer: #f3daff;
	--onTertiaryContainer: #251431;
	--background: #fdfcff;
	--onBackground: #1a1c1e;
	--surface: #fdfcff;
	--onSurface: #1a1c1e;
	--outline: #73777f;
	--surfaceVarient: #dfe2eb;
	--onSurfaceVarient: #43474e;

	/*Fonts*/
	--fontPrimary: 'Outfit', sans-serif;
	--fontCode: 'Outfit', sans-serif;
}

/*Setting basic HTML styles, such as background colour and font*/
body {
	background-color: var(--background);
	font-family: var(--fontPrimary);
	font-weight: 350;
	color: var(--onPrimaryContainer);
	user-select: none;
	-webkit-user-select: none; /*Safari*/
	-moz-user-select: none; /*Firefox*/
   	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
}

.background-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('backgrounds/backgroundimage.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*Rounded corners for HiMaterial elements*/
.roundedImage {
	border-radius: 25px;
	border: 0.5px solid var(--outline);
}

/*HIMATERIAL COMPONENTS*/

/*Main headings at top of pages*/
/*NEW HEADINGS FROM JULY 2022*/

.blue-h2, .blue-h3 {
	color: var(--primary);
	font-family: var(--fontPrimary);
	font-size: 45px;
	font-weight: 300;
	text-align: left;
}

.material-symbols-rounded {
	font-size: 30px !important;
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24 !important
}

/*Heading subtitles*/
.subtitle {
	font-family: var(--fontCode) !important;
}

/*Gradient-coloured headings on Homepage*/
/*NEW HEADINGS FROM DECEMBER 2022*/
.gradientHeading, .gradientHeadingSmall {
	/*background-image: linear-gradient(to right, #1891ac, #1d3e79);
	color: transparent;*/
	color: var(--primary);
	-webkit-background-clip: text;
	background-clip: text;
	font-family: var(--fontPrimary);
}

.gradientHeading {
	font-size: 40px;
	font-weight: 700;
}

.gradientHeadingSmall {
	font-size: 30px;
}

/*Main headings containers*/
.top-container {
	margin: 0 auto;
	min-width: 300px;
	padding: 0px;
}

.top-container #para {
	text-align: left !important;
}

/*Section containers*/
.card {
	/*background-color: var(--primaryContainer);*/
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.5);
	color: var(--onPrimaryContainer);
	text-align: center;
	border: none;
}

.card h1, .card h2 {
	color: var(--primary) !important;
}

	/*LEGACY - WILL SOON NO LONGER BE USED*/
.translucentBox {
	padding: 10px;
	min-width: 300px;
	background-color: var(--primaryContainer);
	color: var(--onPrimaryContainer);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.imageBox {
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*About Page containers*/
.translucentAboutBox {
	background-color: var(--tertiaryContainer);
	color: var(--onTertiaryContainer);
	padding: 10px;
	min-width: 300px;
	backdrop-filter: blur(14px);
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

/*
	Corner radius' for section containers,
	depending whether they are by themselves,
	are at the top, middle, or bottom.
*/
.joinTop {
	border-radius: 25px 25px 6px 6px !important;
	margin-bottom: 3px !important;
}

.joinMiddle {
	border-radius: 6px !important;
	margin-bottom: 3px !important;
}

.joinBottom {
	border-radius: 6px 6px 25px 25px !important;
}

.full {
	border-radius: 25px;
}

/*Large link buttons*/
.button {
	width: 100%;
	height: 60px;
	background-color: var(--secondaryContainer);
	color: var(--onSecondaryContainer);
	font-family: var(--fontPrimary);
	text-align: left;
	font-weight: bold;
	transition: 0.5s;
	float: inline-block;
	border-radius: 100px !important;
}

.button:hover {
	background-color: #96AFB8;
}

.button img {
	float: right;
	width: 50px;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 60px;
}

.button .material-symbols-rounded {
	float: right;
	font-size: 25px;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 60px;
}

.button .button-text {
	vertical-align: middle;
	font-size: 25px;
	line-height: 60px;
	margin-left: 10px;
}

/*Navigation buttons*/

.nav-pills {
	display: flex;
	justify-content: space-around;
}

.nav-pills .nav-item {
	flex-grow: 1;
}

.nav-pills .nav-link {
	width: 100%;
	text-align: center;
}

.nav-pills .nav-item-left, .nav-pills .nav-item-middle {
	margin-right: 3px !important;
}

.nav-pills .nav-item-full {
	border-radius: 25px !important;
}

.nav-pills .nav-item:last-child {
	margin-right: 0;
}

	/*Style for the active pill button*/
.nav-pills .nav-link.active {
	background-color: var(--secondary);
	color: var(--onSecondary);
}

	/*Style for the inactive pill buttons*/
.nav-pills .nav-link:not(.active) {
	background-color: var(--primary);
	color: var(--onPrimary);
}

	/*LEGACY NAV BUTTONS*/
.navButton, .navButtonInactive {
	height: 40px;
	width: 150px;
	font-family: var(--fontPrimary);
	font-size: 14px;
	border-radius: 60px;
	border: none;
}

.fullWidth {
	width: 100%;
	max-width: 400px;
}

.navButton {
	background-color: var(--primary);
	color: var(--onPrimary);
}

.navButtonInactive {
	background-color: var(--secondary);
	color: var(--onSecondary);
}

/*Feedback page navigation buttons*/
.leftButton, .middleButton, .rightButton, .leftNew, .rightNew {
	width: 100px;
}

.leftButton, .leftNew {
	border-radius: 60px 10px 10px 60px !important;
	margin-right: 3px !important;
}

.leftNew {
	margin-right: 4px;
}

.middleButton {
	border-radius: 5px !important;
	margin-right: 3px !important;
}

.rightButton, .rightNew {
	border-radius: 10px 60px 60px 10px !important;
}

.fullButton {
	border-radius: 25px !important;
}

/*Icons that go inside paragraphs*/
.helpcenterIcons {
	font-size: 25px !important;
	line-height: inherit;
	vertical-align: middle;
}

/*LEGACY/HIOSDESKTOP 2021 COMPONENTS*/
.offerBox {
	background: #006ee6;
}

.offerBoxExpired {
	background: red;
}

.offerHeadings {
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

.offerBody {
	font-size: 20px;
}

.offerExpiry {
	font-size: 10px;
	font-style: italic;
}

.offerDate {
	font-size: 14px;
	text-align: left;
}

.termsconditions, #infoText {
	font-family: var(--fontCode);
}

.termsconditions {
	background-color: #FCFCFF;
	color: black;
	border-radius: 35px;
	width: 350px;
	border: 0.5px solid #303034;
}

#homeheading, #homeheadingsmall, #rickroll {
	animation: pulse 15s infinite;
}

#homeheading {
	font-size: 40px;
}

#homeheadingsmall {
	font-size: 30px;
}

#p11, #p12, #paraheadings, #rickroll {
	font-size: 40px;
}

#p11 {
	color: #0F9D58;
}

#p12 {
	color: #4285F4;
}

#para {
	font-size: 17px;
}

.paraHomeSubtitle {
	text-align: left;
	font-size: 20px !important;
	font-weight: 400 !important;
}

#paraheadings {
	text-decoration: underline;
	font-weight: bold;
}

#smallpara {
	font-size: 10px;
	text-align: center;
	color: var(--onPrimaryContainer);
}

#rickroll {
	text-decoration: underline;
}

/*THE PULSING HOMESCREEN*/

@keyframes pulse {
  0% {
	/*color: #FF4F4B;*/
	color: #FF0000;
  } /* Red */
  
  25% {
	/*color: #a0d2eb;*/
	color: #22229a;
  } /* Blue */
  
  50% {
	/*color: #90EE90;*/
	color: #228B22
  } /* Green */
  
  75% {
	/*color: #808080;*/
	color: #dde0fe;
  } /* White */
  
  100% {
	/*color: #494d5f;*/
	color: darkorange;
  } /* Black */
}

#nextButtonRoomkey, #nextButtonRoomkey2, #loginButton {
	/*float: right;*/
	height: 50px;
	width: 150px;
	font-family: var(--fontPrimary);
	font-size: 15px;
	background-color: var(--primary);
	color: var(--onPrimary);
	border-radius: 90px;
	border: none;
}

/*#nextButtonRoomkey:hover, #nextButtonRoomkey2:hover {
	background-color: #05B5BD; /* lightblue 
	color: white;
}*/

/*signup button*/

#signupButton {
	/*float: right;*/
	height: 50px;
	width: 150px;
	font-family: var(--fontPrimary);
	font-size: 15px;
	background-color: #86dc3d;
	color: black;
	border-radius: 90px;
	border: none;
	transition: 0.25s;
}

#signupButton:hover {
	background-color: #378805;
	color: white;
}

.inputBox, .captchaBox {
	border-radius: 4px;
	background-color: var(--surface);
	border: 1px solid var(--outline);
	outline: none;
	color: var(--onSurface);
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 16pt;
}

.inputBox, .captchaBox:focus {
	border: 1px solid var(--primary);
}

.inputBox {
	font-family: var(--fontPrimary);
}

.captchaBox {
	font-family: var(--fontCode);
}

#nfccheck {
	display: block;
}

#roomunlock, #exitButton {
	display: none;
}

/*Account Log-In*/
.loginLabel {
	background-color: #a1cce3;
	width: 250px;
	height: 50px;
}

#usernameBox, #passwordBox, #codeBox {
	border-radius: 4px;
	background-color: var(--surface);
	border: 1px solid var(--outline);
	outline: none;
	color: var(--onSurface);
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 16pt;
}

#usernameBox, #passwordBox, #codeBox:focus {
	border: 1px solid var(--primary);
}

#usernameBox {
	font-family: var(--fontPrimary);
}

#passwordBox, #codeBox {
	font-family: var(--fontCode);
}

#codeBox {
	width: 100px;
	font-size: 25px;
}

.loginText {
	font-size: 20px;
	font-weight: bolder;
	font-family: var(--fontPrimary);
	margin-bottom: 20px;
}

.brand {
	width: 300px;
}

#homeImage {
	min-width: 300px;
	max-width: 350px;
}

/*new iframe wrappers - taken from hiosfood styles*/
.iframe-wrapper {
	max-width: 100%;
	min-width: 250px;
	height: 800px;
}

.menu-iframe, .form-button {
	width: 100%;
	height: 100%;
}

menu-iframe {
	object-fit: contain;
}

.form-button {
	background-color: var(--primary);
	color: var(--onPrimary);
	font-family: var(--fontPrimary);
	font-size: 14px;
	height: 40px;
	border-radius: 12px;
	border: none;
}

.form-button-icon {
	line-height: 14px;
	font-size: 14px !important;
	margin-right: 5px;
	vertical-align: middle;
	padding-bottom: 3px
}

.imageIcon {
	font-size: 40px !important;
}

.titleIcon {
	line-height: 45px;
	font-size: 45px;
	margin-right: 10px;
}

.dropdownIcon {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*Dark mode variables/legacy styles*/

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #a0c9ff;
		--onPrimary: #00325a;
		--primaryContainer: #253141;
		--onPrimaryContainer: #d2e4ff;
		--secondary: #bbc7db;
		--onSecondary: #253141;
		--secondaryContainer: #3c4858;
		--onSecondaryContainer: #d7e3f8;
		--tertiary: #d7bde4;
		--onTertiary: #3b2947;
		--tertiaryContainer: #533f5f;
		--onTertiaryContainer: #f3daff;
		--background: #1a1c1e;
		--onBackground: #e3e2e6;
		--surface: #1a1c1e;
		--onSurface: #e3e2e6;
		--outline: #8d9199;
		--surfaceVarient: #43474e;
		--onSurfaceVarient: #c3c6cf;
	}

	.card {
		backdrop-filter: blur(10px);
		background-color: rgba(0, 0, 0, 0.5);
	}

	.button:hover {
		background-color: #5A6B74;
	}

	.gradientHeading, .gradientHeadingSmall {
		color: var(--primary);
	}
}