@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*COLOURS*/
:root {
	--primary: #0061a6;
	--onPrimary: #ffffff;
	--primaryContainer: #d2e4ff;
	--onPrimaryContainer: #001c37;
	--secondary: #535f70;
	--onSecondary: #ffffff;
	--secondaryContainer: #d7e3f8;
	--onSecondaryContainer: #101c2b;
	--tertiary: #6c5778;
	--onTertiary: #ffffff;
	--tertiaryContainer: #f3daff;
	--onTertiaryContainer: #251431;
	--background: #fdfcff;
	--onBackground: #1a1c1e;
	--surface: #fdfcff;
	--onSurface: #1a1c1e;
	--outline: #73777f;
	--surfaceVarient: #dfe2eb;
	--onSurfaceVarient: #43474e;
}

/*HTML CSS CODE*/

html {
	/*background-color: #FCFCFF;*/
	/*background-color: #081c34;*/
	/*background-image: url('rickroll.gif');*/
	background-color: var(--background);
	font-family: 'Outfit', sans-serif;
	color: var(--onPrimaryContainer);
}

body {
	animation: body 1s ease 200ms backwards;
 	user-select: none;
 	-webkit-user-select: none; /*Safari*/
 	-moz-user-select: none; /*Firefox*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes body {
	from {
	 opacity: 0;
	 transform: translateY(-100px);
	}
	to {
	 opacity: 1;
	 transform: translate(0px);
	}
   }

/*MAIN NAVIGATION BUTTONS*/

.navButton, .navButtonInactive {
	height: 40px;
	width: 150px;
	font-family: 'Outfit', sans-serif;
	font-size: 14px;
	border-radius: 60px;
	border: none;
}

.navButton {
	background-color: var(--primary);
	color: var(--onPrimary);
}

.navButtonInactive {
	background-color: var(--secondary);
	color: var(--onSecondary);
}

/*OFFER BOXES*/

.offerBox, .offerBoxExpired {
	border-radius: 25px;
	padding: 10px;
	width: 300px;
	color: white;
}

.offerBox {
	background: #006ee6;
}

.offerBoxExpired {
	background: red;
}

.offerHeadings {
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

.offerBody {
	font-size: 20px;
}

.offerExpiry {
	font-size: 10px;
	font-style: italic;
}

.offerDate {
	font-size: 14px;
	text-align: left;
}

.termsconditions, #infoText {
	font-family: 'Courier Prime', monospace;
}

.termsconditions {
	background-color: #FCFCFF;
	color: black;
	border-radius: 35px;
	width: 350px;
	border: 0.5px solid #303034;
}

#homeheading, #homeheadingsmall, #rickroll {
	animation: pulse 15s infinite;
}

#homeheading {
	font-size: 40px;
}

#homeheadingsmall {
	font-size: 30px;
}

#p11, #p12, #paraheadings, #rickroll {
	font-size: 40px;
}

#p11 {
	color: #0F9D58;
}

#p12 {
	color: #4285F4;
}

#para {
	font-size: 20px;
}

.paraHomeSubtitle {
	text-align: left;
	font-size: 20px !important;
	font-weight: 400 !important;
}

#paraheadings {
	text-decoration: underline;
	font-weight: bold;
}

#smallpara {
	font-size: 10px;
	text-align: center;
	color: var(--onPrimaryContainer);
}

#rightalign {
	text-align: right;
}

.wrapper {
	display: grid;
 	grid-template-columns: 400px 400px;
	justify-content: center;
}

#rickroll {
	text-decoration: underline;
}

/*THE PULSING HOMESCREEN*/

@keyframes pulse {
  0% {
	/*color: #FF4F4B;*/
	color: #FF0000;
  } /* Red */
  
  25% {
	/*color: #a0d2eb;*/
	color: #22229a;
  } /* Blue */
  
  50% {
	/*color: #90EE90;*/
	color: #228B22
  } /* Green */
  
  75% {
	/*color: #808080;*/
	color: #dde0fe;
  } /* White */
  
  100% {
	/*color: #494d5f;*/
	color: darkorange;
  } /* Black */
}

#nextButtonRoomkey, #nextButtonRoomkey2, #loginButton {
	/*float: right;*/
	height: 50px;
	width: 150px;
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	background-color: var(--primary);
	color: var(--onPrimary);
	border-radius: 90px;
	border: none;
}

/*#nextButtonRoomkey:hover, #nextButtonRoomkey2:hover {
	background-color: #05B5BD; /* lightblue 
	color: white;
}*/

/*signup button*/

#signupButton {
	/*float: right;*/
	height: 50px;
	width: 150px;
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	background-color: #86dc3d;
	color: black;
	border-radius: 90px;
	border: none;
	transition: 0.25s;
}

#signupButton:hover {
	background-color: #378805;
	color: white;
}

.inputBox, .captchaBox {
	border-radius: 4px;
	background-color: var(--surface);
	border: 1px solid var(--outline);
	outline: none;
	color: var(--onSurface);
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 16pt;
}

.inputBox, .captchaBox:focus {
	border: 1px solid var(--primary);
}

.inputBox {
	font-family: 'Outfit', sans-serif;
}

.captchaBox {
	font-family: 'Courier Prime', monospace;
}

#nfccheck {
	display: block;
}

#roomunlock, #exitButton {
	display: none;
}

.roundedImage {
	border-radius: 12px;
	border: 0.5px solid var(--outline);
}

/*NEWEST ADDED CSS*/

.translucentBox {
	padding: 10px;
	min-width: 300px;
	background-color: var(--primaryContainer);
	color: var(--onPrimaryContainer);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.translucentInfoBox {
	border-radius: 12px;
	padding: 10px;
	min-width: 250px;
	background-color: var(--secondaryContainer);
	color: var(--onSecondaryContainer);
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.translucentAboutBox {
	background-color: var(--tertiaryContainer);
	color: var(--onTertiaryContainer);
	padding: 10px;
	min-width: 300px;
	backdrop-filter: blur(14px);
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
}

/*The radius' of the new joins*/

.joinTop {
	border-radius: 12px 12px 6px 6px;
	margin-bottom: 3px;
}

.joinMiddle {
	border-radius: 6px;
	margin-bottom: 3px;
}

.joinBottom {
	border-radius: 6px 6px 12px 12px;
}

.full {
	border-radius: 12px;
}


.whitesmallpara {
	font-size: 10px;
	color: var(--onPrimaryContainer);
}

/*HiAccount Log-In*/
.loginLabel {
	background-color: #a1cce3;
	width: 250px;
	height: 50px;
}

#usernameBox, #passwordBox, #codeBox {
	border-radius: 4px;
	background-color: var(--surface);
	border: 1px solid var(--outline);
	outline: none;
	color: var(--onSurface);
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 16pt;
}

#usernameBox, #passwordBox, #codeBox:focus {
	border: 1px solid var(--primary);
}

#usernameBox {
	font-family: 'Outfit', sans-serif;
}

#passwordBox, #codeBox {
	font-family: 'Courier Prime', monospace;
}

#codeBox {
	width: 100px;
	font-size: 25px;
}

.loginText {
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Outfit', sans-serif;
	margin-bottom: 20px;
}

/*NEW HEADINGS FROM JULY 2022*/

.blue-h2, .blue-h3 {
	color: var(--primary);
	font-family: 'Outfit', sans-serif;
	font-size: 45px;
	font-weight: 100;
	text-align: left;
}

/*NEW HEADINGS FROM DECEMBER 2022*/
.gradientHeading, .gradientHeadingSmall {
	color: #187bcd;
	font-family: 'Outfit', sans-serif;
}

.gradientHeading {
	font-size: 40px;
	font-weight: 700;
}

.gradientHeadingSmall {
	font-size: 30px;
}

.brand {
	width: 300px;
}

.button {
	width: 100%;
	height: 110px;
	background-color: white;
	color: black;
	font-family: 'Outfit', sans-serif;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	transition: 0.5s;
	float: inline-block;
	border-radius: 25px !important;
}

.button:hover {
	background-color: #96AFB8;
}

.button img {
	float: right;
	width: 50px;
}

.left {
	text-align: left;
}

.container {
	margin: 0 auto;
	min-width: 300px;
	padding: 0px;
}

.container #para {
	text-align: left !important;
}

.material-symbols-rounded {
	font-size: 30px !important;
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24 !important
}

/*Feedback Buttons*/
.leftButton, .middleButton, .rightButton, .leftNew, .rightNew {
	width: 100px;
}

.leftButton, .leftNew {
	border-radius: 60px 10px 10px 60px;
}

.leftNew {
	margin-right: 4px;
}

.middleButton {
	border-radius: 5px;
}

.rightButton, .rightNew {
	border-radius: 10px 60px 60px 10px;
}

/*help center icons css*/
.helpcenterIcons {
	font-size: 25px !important;
	line-height: inherit;
	vertical-align: middle;
}

#homeImage {
	min-width: 300px;
	max-width: 350px;
}

/*new iframe wrappers - taken from hiosfood styles*/
.iframe-wrapper {
	max-width: 100%;
	min-width: 250px;
	height: 800px;
}

.menu-iframe {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.imageIcon {
	font-size: 40px !important;
}

.titleIcon {
	line-height: 45px;
	font-size: 45px;
	margin-right: 10px;
}

/*!!!---DARK MODE THEMING---!!!*/

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #a0c9ff;
		--onPrimary: #00325a;
		--primaryContainer: #253141;
		--onPrimaryContainer: #d2e4ff;
		--secondary: #bbc7db;
		--onSecondary: #253141;
		--secondaryContainer: #3c4858;
		--onSecondaryContainer: #d7e3f8;
		--tertiary: #d7bde4;
		--onTertiary: #3b2947;
		--tertiaryContainer: #533f5f;
		--onTertiaryContainer: #f3daff;
		--background: #1a1c1e;
		--onBackground: #e3e2e6;
		--surface: #1a1c1e;
		--onSurface: #e3e2e6;
		--outline: #8d9199;
		--surfaceVarient: #43474e;
		--onSurfaceVarient: #c3c6cf;
	}

	.button {
		color: white;
		background-color: #354A54;
	}

	.button:hover {
		background-color: #5A6B74; }

 	.gradientHeading, .gradientHeadingSmall {
		color: white; 
	}
}
