html {
    background-color: #69001F !important;
}

.translucentBox {
    background-color: #B83B5D !important;
}

.offers {
    background-color: #FEABC5 !important;
}

.offers h1, .offers h2, .offers h3, .offers h4, .offers h5, .offers p {
    color: #69001F !important;
}

h1, h2, h3, h4, h5 {
    color: #FEABC5 !important;
}

#homeImage {
    max-width: 370px !important;
    min-width: 300px !important;
}

.navButton {
    background-color: #B83B5D !important;
}

.navButtonInactive {
    background-color: #FEABC5 !important;
}

.container {
    text-align: left !important;
}