/*STYLES, FONTS, AND COLOURS*/

/*Variables*/
:root {
    /*Colours*/
	--primary: rgb(142 73 88);
	--onPrimary: rgb(255 255 255);
	--primaryContainer: rgb(255 217 222);
	--onPrimaryContainer: rgb(58 7 23);
	--secondary: rgb(117 86 91);
	--onSecondary: rgb(255 255 255);
	--secondaryContainer: rgb(255 217 222);
	--onSecondaryContainer: rgb(43 21 25);
	--tertiary: rgb(122 88 50);
	--onTertiary: rgb(255 255 255);
	--tertiaryContainer: rgb(255 220 187);
	--onTertiaryContainer: rgb(43 23 0);
	--background: rgb(255 248 247);
	--onBackground: rgb(34 25 27);
	--surface: rgb(255 248 247);
	--onSurface: rgb(34 25 27);
	--outline: rgb(132 115 117);
	--surfaceVarient: rgb(243 221 224);
	--onSurfaceVarient: rgb(82 67 69);    
}

html {
    color: var(--onPrimaryContainer);
}

.translucentBox {
    background-color: var(--primaryContainer) !important;
}

.offers {
    background-color: #FEABC5 !important;
}

.offers h1, .offers h2, .offers h3, .offers h4, .offers h5, .offers p {
    color: #69001F !important;
}

#homeImage {
    max-width: 370px !important;
    min-width: 300px !important;
}

.container {
    text-align: left !important;
}

.redeemButton {
	height:30px;
    width: 300px;
	font-family: 'Cantarell', sans-serif;
	font-size: 15px;
	background-color: #B83B5D;
	color: white;
	border-radius: 16px;
	border: none;
}

/*Snackbar*/
#snackbar {
    padding: 10px;
	max-width: 350px;
	min-width: 300px;
    visibility: hidden;
    width: 300px;
    background-color: white;
    border-radius: 25px;
    color: black;
    text-align: center;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    margin-left: auto;
	margin-right: auto;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein -.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }