<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="dark light">
        <link rel="icon" href="https://thehighlandcafe.github.io/hioswebcore/assets/pics/logos/hiosbadge.png" type="image/icon type">
        <link rel="stylesheet" href="https://thehighlandcafe.github.io/hioswebcore/assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://thehighlandcafe.github.io/hioswebcore/assets/css/ripple.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
        <script src="../../../assets/scripts/links.js"></script>
        <title>HiOSMobile | Updates</title>
    </head>
    <body>
        <span class="material-symbols-rounded" onclick="link('../home.html')">arrow_back</span>
        <br><br>
        <center>
        <div class="container">
            <h1 class="blue-h2"><span class="titleIcon material-symbols-rounded">system_update</span>Updates</h1>
            <p id="para">Take a look at our updates options below.</p>
        </div>
        <div class="translucentBox joinTop">
            <button class="joinTop ripple-button roundedImage button" onclick="link('https://github.com/aarjay123/harmony/releases/latest/download/hiosmobile.apk')">
                <img src="https://cdn-icons-png.flaticon.com/512/14266/14266837.png">
                <span>Manually Update HiOSMobile</span>
            </button>
            <div class="translucentAboutBox full">
                <p><b>Download the latest app APK installer file.</b><br>1. Tap here, tap 'Download Anyway' on the popup, since the HiOSMobile is safe.<br>2. Allow your browser to 'Install Unknown Apps', select 'Open' and finally 'update'.<br><br><b>This Version: 2.5.2</b></p>
            </div>
        </div>
        <div class="translucentBox joinMiddle">
            <button class="joinTop ripple-button joinBottom roundedImage button" onclick="link('https://github.com/aarjay123/harmony/releases')">
                <img src="https://cdn-icons-png.flaticon.com/512/3655/3655592.png">
                <span>Download Unstable Version</span>
            </button>
            <div class="translucentAboutBox full">
                <p><b>Download the latest HiOSMobile pre-release version.</b><br><br>On the releases page on GitHub, find one with the 'pre-release' tag.<br><br><b>CAUTION: Pre-releases can be unstable!</b></p>
            </div>
        </div>
        <div class="translucentBox joinMiddle">
            <button class="joinTop ripple-button joinBottom roundedImage button" onclick="link('https://sites.google.com/view/hios-by-thc/download/autoupdate')">
                <img src="https://cdn-icons-png.flaticon.com/512/1688/1688988.png">
                <span>Auto-Update HiOSMobile</span>
            </button>
            <div class="translucentAboutBox full">
                <p>Learn how to update the HiOSMobile app automatically on our website.</p>
            </div>
        </div>
        <div class="translucentBox joinBottom">
            <h2>Update notifications and more</h2>
            <button class="joinTop ripple-button joinBottom roundedImage button" onclick="link('https://whatsapp.com/channel/0029Va8U5lXISTkDAhk4bj3J')">
                <img src="https://cdn-icons-png.flaticon.com/512/1182/1182718.png">
                <span>Update Notifications</span>
            </button>
            <div class="translucentAboutBox full">
                <p>Join our WhatsApp Channel to get notified every time we update HiOSMobile.</p>
            </div><br>
            <button class="ripple-button joinBottom roundedImage button" onclick="link('https://github.com/aarjay123/harmony/releases/latest')">
                <img src="https://cdn-icons-png.flaticon.com/512/891/891448.png">
                <span>What's New?</span>
            </button>
        </div>
        <br><br><br><br>
        </center>
        <script src="https://thehighlandcafe.github.io/hioswebcore/assets/scripts/ripple.js"></script>
    </body>
</html>
